<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134878724649-nanof8gj8mj0ks71pdr92nloa0v6eng9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134878724649-nanof8gj8mj0ks71pdr92nloa0v6eng9</string>
	<key>API_KEY</key>
	<string>AIzaSyANLcfCXX8sS3d2H0rA3NS9a_hDG-uoHxc</string>
	<key>GCM_SENDER_ID</key>
	<string>134878724649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamchalenger.degigban</string>
	<key>PROJECT_ID</key>
	<string>degnigban-52b7b</string>
	<key>STORAGE_BUCKET</key>
	<string>degnigban-52b7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134878724649:ios:22c7c5b3def26caf8a5238</string>
	<key>DATABASE_URL</key>
	<string>https://degnigban-52b7b.firebaseio.com</string>
</dict>
</plist>